<a href="https://colab.research.google.com/github/Hemanthk408/India-Agriculture/blob/main/india_agriculture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import zipfile

# Specify the path to your ZIP file
zip_file_path = "/content/India Agriculture Crop Production.csv.zip"
# Specify the directory where you want to extract the files
extract_to_path = r"C:\Users\DELL\Downloads"

# Open and extract the ZIP file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_to_path)

In [3]:
df=pd.read_csv(r"/content/C:\Users\DELL\Downloads/India Agriculture Crop Production.csv")

In [4]:
df

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
...,...,...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN

In [5]:
df.nunique()

State                   36
District               729
Crop                    56
Year                    24
Season                   6
Area                 48006
Area Units               1
Production           69078
Production Units         3
Yield               197154
dtype: int64

In [7]:
import numpy as np

In [13]:
df=pd.DataFrame(df)

In [17]:
df.nunique()

State                   36
District               729
Crop                    56
Year                    24
Season                   6
Area                 48006
Area Units               1
Production           69078
Production Units         3
Yield               197154
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [23]:
df.columns

Index(['State', 'District', 'Crop', 'Year', 'Season', 'Area', 'Area Units',
       'Production', 'Production Units', 'Yield'],
      dtype='object')

In [32]:
for i in df.columns:
  print("-----------------------------------------------------------------------------------------")
  print(i)
  print(df[i].unique())

-----------------------------------------------------------------------------------------
State
['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra and Nagar Haveli'
 'Daman and Diu' 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh'
 'Jammu and Kashmir' 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'Telangana' 'Laddakh']
-----------------------------------------------------------------------------------------
District
['NICOBARS' 'NORTH AND MIDDLE ANDAMAN' 'SOUTH ANDAMANS' 'ANANTAPUR'
 'EAST GODAVARI' 'KRISHNA' 'VIZIANAGARAM' 'WEST GODAVARI' 'ADILABAD'
 'CHITTOOR' 'GUNTUR' 'KADAPA' 'KARIMNAGAR' 'KHAMMAM' 'KURNOOL'
 'MAHBUBNAGAR' 'MEDAK' 'NALGONDA' 'NIZAMABAD' 'PRAKASAM' 'RANGAREDDI'
 'SPSR NELLORE' 'SRIKAKULAM' 'VISAKHAPATANAM' 'WARANGAL' 'CHANGLANG'
 'DIBANG VALLEY' 'EAST KAMENG' 'EAST SIANG' 'KURUNG KUMEY' 'LOHIT'
 'LOWER DIBANG VALLEY' 'LOWER SUBANSIRI' 'PAPUM PARE' 'TAWANG' 'TIRAP'
 'UPPER SIANG' 'UPPER SUBANSIRI' 'WEST KAMENG' 'WEST SIANG' 'BARPETA'
 'BONGAIGAON' 'CACHAR' 'DARRANG' 'DHEMAJI' 'DHUBRI' 'DIBRUGARH'
 'DIMA HASAO' 'GOALPARA' 'GOLAGHAT' 'HAILAKANDI' 'JORHAT' 'KAMRUP'
 'KARBI ANGLONG' 'KARIMGANJ' 'KOKRAJHAR' 'LAKHIMPUR' 'MARIGAON' 'NAGAON'
 'NALBARI' 'SIVASAGAR' 'SONITPUR' 'TINSUKIA' 'ARARIA' 'ARWAL' 'AURANGABAD'
 'BANKA' 'BEGUSARAI' 'BHAGALPUR' 'BHOJPUR' 'BUXAR' 'DARBHANGA' 'GAYA'
 'GOPALGANJ' 'JAMUI' 'JEHANABAD' 'KAIMUR (BHABUA)' 'KATIHAR' 'KHAGARIA'
 'KISHANGANJ' 'LAKHISARAI' 'MADHEPURA' 'MADHUBANI' 'MUNGER' 'MUZAFFARPUR'
 'NALANDA' 'NAWADA' 'PASHCHIM CHAMPARAN' 'PATNA' 'PURBI CHAMPARAN'
 'PURNIA' 'ROHTAS' 'SAHARSA' 'SAMASTIPUR' 'SARAN' 'SHEIKHPURA' 'SHEOHAR'
 'SITAMARHI' 'SIWAN' 'SUPAUL' 'VAISHALI' 'CHANDIGARH' 'BASTAR' 'BILASPUR'
 'DANTEWADA' 'DHAMTARI' 'DURG' 'JANJGIR-CHAMPA' 'JASHPUR' 'KABIRDHAM'
 'KANKER' 'KORBA' 'KOREA' 'MAHASAMUND' 'RAIGARH' 'RAIPUR' 'RAJNANDGAON'
 'SURGUJA' 'DADRA AND NAGAR HAVELI' 'Daman and Diu' 'Delhi' 'Goa'
 'AHMADABAD' 'AMRELI' 'ANAND' 'BANAS KANTHA' 'BHARUCH' 'BHAVNAGAR' 'DANG'
 'DOHAD' 'GANDHINAGAR' 'JAMNAGAR' 'JUNAGADH' 'KACHCHH' 'KHEDA' 'MAHESANA'
 'NARMADA' 'NAVSARI' 'PANCH MAHALS' 'PATAN' 'PORBANDAR' 'RAJKOT'
 'SABAR KANTHA' 'SURAT' 'SURENDRANAGAR' 'VADODARA' 'VALSAD' 'AMBALA'
 'BHIWANI' 'FARIDABAD' 'FATEHABAD' 'GURGAON' 'HISAR' 'JHAJJAR' 'JIND'
 'KAITHAL' 'KARNAL' 'KURUKSHETRA' 'MAHENDRAGARH' 'PANCHKULA' 'PANIPAT'
 'REWARI' 'ROHTAK' 'SIRSA' 'SONIPAT' 'YAMUNANAGAR' 'KANGRA' 'KULLU'
 'MANDI' 'SHIMLA' 'SOLAN' 'UNA' 'CHAMBA' 'HAMIRPUR' 'SIRMAUR' 'KINNAUR'
 'LAHUL AND SPITI' 'DODA' 'JAMMU' 'KATHUA' 'RAJAURI' 'UDHAMPUR' 'KARGIL'
 'LEH LADAKH' 'SRINAGAR' 'BADGAM' 'BARAMULLA' 'POONCH' 'PULWAMA'
 'ANANTNAG' 'KUPWARA' 'CHATRA' 'DUMKA' 'GARHWA' 'GODDA' 'GUMLA'
 'HAZARIBAGH' 'KODERMA' 'LATEHAR' 'LOHARDAGA' 'PAKUR' 'PALAMU' 'RANCHI'
 'SAHEBGANJ' 'SARAIKELA KHARSAWAN' 'SIMDEGA' 'WEST SINGHBHUM' 'BOKARO'
 'DEOGHAR' 'DHANBAD' 'EAST SINGHBUM' 'GIRIDIH' 'JAMTARA' 'BAGALKOT'
 'BANGALORE RURAL' 'BELGAUM' 'BELLARY' 'BENGALURU URBAN' 'CHAMARAJANAGAR'
 'CHIKMAGALUR' 'CHITRADURGA' 'DAKSHIN KANNAD' 'DAVANGERE' 'DHARWAD'
 'GADAG' 'HASSAN' 'HAVERI' 'KODAGU' 'KOLAR' 'MANDYA' 'MYSORE' 'SHIMOGA'
 'TUMKUR' 'UDUPI' 'UTTAR KANNAD' 'BIDAR' 'BIJAPUR' 'GULBARGA' 'KOPPAL'
 'RAICHUR' 'ALAPPUZHA' 'ERNAKULAM' 'IDUKKI' 'KANNUR' 'KASARAGOD' 'KOLLAM'
 'KOTTAYAM' 'KOZHIKODE' 'MALAPPURAM' 'PALAKKAD' 'PATHANAMTHITTA'
 'THIRUVANANTHAPURAM' 'THRISSUR' 'WAYANAD' 'ANUPPUR' 'ASHOKNAGAR'
 'BALAGHAT' 'BARWANI' 'BETUL' 'BHIND' 'BHOPAL' 'BURHANPUR' 'CHHATARPUR'
 'CHHINDWARA' 'DAMOH' 'DATIA' 'DEWAS' 'DHAR' 'DINDORI' 'GUNA' 'GWALIOR'
 'HARDA' 'HOSHANGABAD' 'INDORE' 'JABALPUR' 'JHABUA' 'KATNI' 'KHANDWA'
 'KHARGONE' 'MANDLA' 'MANDSAUR' 'MORENA' 'NARSINGHPUR' 'NEEMUCH' 'PANNA'
 'RAISEN' 'RAJGARH' 'RATLAM' 'REWA' 'SAGAR' 'SATNA' 'SEHORE' 'SEONI'
 'SHAHDOL' 'SHAJAPUR' 'SHEOPUR' 'SHIVPURI' 'SIDHI' 'TIKAMGARH' 'UJJAIN'
 'UMARIA' 'VIDISHA' 'AHMEDNAGAR' 'AKOLA' 'AMRAVATI' 'BEED' 'BHANDARA'
 'BULDHANA' 'CHANDRAPUR' 'DHULE' 'GADCHIROLI' 'GONDIA' 'HINGOLI' 'JALGAON'
 'JALNA' 'KOLHAPUR' 'LATUR' 'NAGPUR' 'NANDED' 'NANDURBAR' 'NASHIK'
 'OSMANABAD' 'PARBHANI' 'PUNE' 'RAIGAD' 'RATNAGIRI' 'SANGLI' 'SATARA'
 'SOLAPUR' 'THANE' 'WARDHA' 'WASHIM' 'YAVATMAL' 'SINDHUDURG' 'SENAPATI'
 'BISHNUPUR' 'CHANDEL' 'CHURACHANDPUR' 'IMPHAL EAST' 'IMPHAL WEST'
 'TAMENGLONG' 'THOUBAL' 'UKHRUL' 'EAST GARO HILLS' 'EAST JAINTIA HILLS'
 'EAST KHASI HILLS' 'RI BHOI' 'SOUTH GARO HILLS' 'WEST GARO HILLS'
 'WEST KHASI HILLS' 'AIZAWL' 'CHAMPHAI' 'KOLASIB' 'LUNGLEI' 'MAMIT'
 'SAIHA' 'DIMAPUR' 'KOHIMA' 'MOKOKCHUNG' 'MON' 'PHEK' 'TUENSANG' 'WOKHA'
 'ZUNHEBOTO' 'ANUGUL' 'BALANGIR' 'BALESHWAR' 'BARGARH' 'BHADRAK' 'BOUDH'
 'CUTTACK' 'DEOGARH' 'DHENKANAL' 'GAJAPATI' 'GANJAM' 'JAGATSINGHAPUR'
 'JAJAPUR' 'JHARSUGUDA' 'KALAHANDI' 'KANDHAMAL' 'KENDRAPARA' 'KENDUJHAR'
 'KHORDHA' 'KORAPUT' 'MALKANGIRI' 'MAYURBHANJ' 'NABARANGPUR' 'NAYAGARH'
 'NUAPADA' 'RAYAGADA' 'SAMBALPUR' 'SONEPUR' 'SUNDARGARH' 'PURI' 'MAHE'
 'PONDICHERRY' 'KARAIKAL' 'YANAM' 'AMRITSAR' 'BATHINDA' 'FARIDKOT'
 'FATEHGARH SAHIB' 'FIROZEPUR' 'HOSHIARPUR' 'JALANDHAR' 'KAPURTHALA'
 'LUDHIANA' 'MOGA' 'MUKTSAR' 'NAWANSHAHR' 'PATIALA' 'RUPNAGAR' 'SANGRUR'
 'MANSA' 'GURDASPUR' 'AJMER' 'ALWAR' 'BANSWARA' 'BARAN' 'BHARATPUR'
 'BHILWARA' 'BIKANER' 'BUNDI' 'CHITTORGARH' 'DAUSA' 'DHOLPUR' 'DUNGARPUR'
 'GANGANAGAR' 'HANUMANGARH' 'JAIPUR' 'JAISALMER' 'JALORE' 'JHALAWAR'
 'KARAULI' 'KOTA' 'NAGAUR' 'PALI' 'RAJSAMAND' 'SAWAI MADHOPUR' 'SIKAR'
 'SIROHI' 'TONK' 'UDAIPUR' 'BARMER' 'CHURU' 'JHUNJHUNU' 'JODHPUR'
 'PRATAPGARH' 'EAST DISTRICT' 'NORTH DISTRICT' 'SOUTH DISTRICT'
 'WEST DISTRICT' 'COIMBATORE' 'DHARMAPURI' 'DINDIGUL' 'ERODE'
 'KANNIYAKUMARI' 'KARUR' 'KRISHNAGIRI' 'NAGAPATTINAM' 'NAMAKKAL'
 'PERAMBALUR' 'SALEM' 'THANJAVUR' 'THE NILGIRIS' 'THENI' 'THIRUVARUR'
 'TIRUCHIRAPPALLI' 'TIRUNELVELI' 'VIRUDHUNAGAR' 'CUDDALORE' 'KANCHIPURAM'
 'MADURAI' 'PUDUKKOTTAI' 'RAMANATHAPURAM' 'SIVAGANGA' 'THIRUVALLUR'
 'THOOTHUKUDI' 'TIRUVANNAMALAI' 'VELLORE' 'VILLUPURAM' 'DHALAI'
 'NORTH TRIPURA' 'SOUTH TRIPURA' 'WEST TRIPURA' 'AGRA' 'ALIGARH'
 'ALLAHABAD' 'AMBEDKAR NAGAR' 'AMROHA' 'AURAIYA' 'AZAMGARH' 'BAGHPAT'
 'BAHRAICH' 'BALLIA' 'BALRAMPUR' 'BANDA' 'BARABANKI' 'BAREILLY' 'BASTI'
 'BIJNOR' 'BUDAUN' 'BULANDSHAHR' 'CHANDAULI' 'CHITRAKOOT' 'DEORIA' 'ETAH'
 'ETAWAH' 'FAIZABAD' 'FARRUKHABAD' 'FATEHPUR' 'FIROZABAD'
 'GAUTAM BUDDHA NAGAR' 'GHAZIABAD' 'GHAZIPUR' 'GONDA' 'GORAKHPUR' 'HARDOI'
 'HATHRAS' 'JALAUN' 'JAUNPUR' 'JHANSI' 'KANNAUJ' 'KANPUR DEHAT'
 'KANPUR NAGAR' 'KAUSHAMBI' 'KHERI' 'KUSHI NAGAR' 'LALITPUR' 'LUCKNOW'
 'MAHARAJGANJ' 'MAHOBA' 'MAINPURI' 'MATHURA' 'MAU' 'MEERUT' 'MIRZAPUR'
 'MORADABAD' 'MUZAFFARNAGAR' 'PILIBHIT' 'RAE BARELI' 'RAMPUR' 'SAHARANPUR'
 'SANT KABEER NAGAR' 'SANT RAVIDAS NAGAR' 'SHAHJAHANPUR' 'SHRAVASTI'
 'SIDDHARTH NAGAR' 'SITAPUR' 'SONBHADRA' 'SULTANPUR' 'UNNAO' 'VARANASI'
 'CHAMOLI' 'CHAMPAWAT' 'DEHRADUN' 'HARIDWAR' 'NAINITAL' 'PAURI GARHWAL'
 'PITHORAGARH' 'RUDRA PRAYAG' 'TEHRI GARHWAL' 'UDAM SINGH NAGAR'
 'UTTAR KASHI' 'ALMORA' 'BAGESHWAR' '24 PARAGANAS NORTH'
 '24 PARAGANAS SOUTH' 'BANKURA' 'BIRBHUM' 'COOCHBEHAR' 'DARJEELING'
 'DINAJPUR DAKSHIN' 'DINAJPUR UTTAR' 'HOOGHLY' 'HOWRAH' 'JALPAIGURI'
 'MALDAH' 'MEDINIPUR EAST' 'MEDINIPUR WEST' 'MURSHIDABAD' 'NADIA'
 'PURBA BARDHAMAN' 'PURULIA' 'ANJAW' 'BAKSA' 'CHIRANG' 'KAMRUP METRO'
 'UDALGURI' 'NARAYANPUR' 'NORTH GOA' 'SOUTH GOA' 'MEWAT' 'PALGHAR'
 'LAWNGTLAI' 'SERCHHIP' 'S' 'TARN TARAN' 'Andaman and Nicobar Islands'
 'DELHI_TOTAL' 'TAPI' 'PALWAL' 'REASI' 'SAMBA' 'KISHTWAR' 'RAMBAN'
 'KULGAM' 'BANDIPORA' 'GANDERBAL' 'SHOPIAN' 'KHUNTI' 'RAMGARH'
 'RAMANAGARA' 'CHIKBALLAPUR' 'ALIRAJPUR' 'SINGRAULI' 'KIPHIRE' 'LONGLENG'
 'PEREN' 'BARNALA' 'TIRUPPUR' 'ARIYALUR' 'KASGANJ' 'BALOD' 'BALODA BAZAR'
 'BEMETARA' 'GARIYABAND' 'KONDAGAON' 'MUNGELI' 'SUKMA' 'SURAJPUR' 'YADGIR'
 'FAZILKA' 'PATHANKOT' 'GOMATI' 'KHOWAI' 'SEPAHIJALA' 'UNAKOTI' 'AMETHI'
 'HAPUR' 'SAMBHAL' 'SHAMLI' 'KRA DAADI' 'LONGDING' 'NAMSAI' 'SIANG' 'DIU'
 'DAMAN' 'ARAVALLI' 'BOTAD' 'CHHOTAUDEPUR' 'GIR SOMNATH' 'MAHISAGAR'
 'DEVBHUMI DWARKA' 'MORBI' 'CHARKI DADRI' 'AGAR MALWA' 'NORTH GARO HILLS'
 'SOUTH WEST GARO HILLS' 'SOUTH WEST KHASI HILLS' 'WEST JAINTIA HILLS'
 'ALIPURDUAR' 'KAMLE' 'LOWER SIANG' 'MUMBAI SUBURBAN' 'CHENNAI'
 'BHADRADRI' 'JAGITIAL' 'JANGOAN' 'JAYASHANKAR' 'JOGULAMBA' 'KAMAREDDY'
 'KOMARAM BHEEM ASIFABAD' 'MAHABUBABAD' 'MANCHERIAL' 'MEDCHAL' 'MULUGU'
 'NAGARKURNOOL' 'NARAYANAPET' 'NIRMAL' 'PEDDAPALLI' 'RAJANNA' 'SANGAREDDY'
 'SIDDIPET' 'SURYAPET' 'VIKARABAD' 'WANAPARTHY' 'WARANGAL URBAN' 'YADADRI'
 'JHARGRAM' 'PASCHIM BARDHAMAN' 'KALIMPONG' 'LEPARADA' 'PAKKE KESSANG'
 'SHI YOMI' 'BISWANATH' 'CHARAIDEO' 'HOJAI' 'MAJULI'
 'SOUTH SALMARA MANCACHAR' 'WEST KARBI ANGLONG' 'GAURELLA-PENDRA-MARWAHI'
 'BAGALKOTE' 'BALLARI' 'BELAGAVI' 'CHAMARAJANAGARA' 'CHIKKABALLAPURA'
 'CHIKKAMAGALURU' 'DAKSHINA KANNADA' 'MYSURU' 'SHIVAMOGGA' 'TUMAKURU'
 'UTTARA KANNADA' 'VIJAYAPURA' 'KALABURAGI' 'YADAGIRI' 'NIWARI'
 'SHAHID BHAGAT SINGH NAGAR' 'TUTICORIN' 'KALLAKURICHI' 'TENKASI'
 'TIRUPATHUR' 'CHENGALPATTU' 'RANIPET' 'HANUMAKONDA' 'MEDCHAL MALKAJGIRI'
 'THE DADRA AND NAGAR HAVELI AND DAMAN AND DIU' 'HYDERABAD' 'MUMBAI']
-----------------------------------------------------------------------------------------
Crop
['Arecanut' 'Banana' 'Black pepper' 'Cashewnut' 'Coconut' 'Dry chillies'
 'Ginger' 'Other Kharif pulses' 'other oilseeds' 'Rice' 'Sugarcane'
 'Sweet potato' 'Arhar/Tur' 'Bajra' 'Castor seed' 'Coriander'
 'Cotton(lint)' 'Gram' 'Groundnut' 'Horse-gram' 'Jowar' 'Linseed' 'Maize'
 'Mesta' 'Moong(Green Gram)' 'Niger seed' 'Onion' 'Other Rabi pulses'
 'Potato' 'Ragi' 'Rapeseed &Mustard' 'Safflower' 'Sesamum' 'Small millets'
 'Soyabean' 'Sunflower' 'Tapioca' 'Tobacco' 'Turmeric' 'Urad' 'Wheat'
 'Oilseeds total' 'Jute' 'Masoor' 'Peas & beans (Pulses)' 'Barley'
 'Garlic' 'Khesari' 'Sannhamp' 'Guar seed' 'Moth' 'Cardamom'
 'Other Cereals' 'Cowpea(Lobia)' 'Dry Ginger' 'Other Summer Pulses' nan]
-----------------------------------------------------------------------------------------
Year
['2001-02' '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08'
 '2008-09' '2009-10' '2010-11' '2011-12' '2012-13' '2013-14' '2014-15'
 '2015-16' '2016-17' '2017-18' '2018-19' '2019-20' '2020-21' '2000-01'
 '1997-98' '1998-99' '1999-00']
-----------------------------------------------------------------------------------------
Season
['Kharif' 'Whole Year' 'Rabi' 'Autumn' 'Summer' 'Winter' nan]
-----------------------------------------------------------------------------------------
Area
[  1254.   1258.   1261. ... 135506.  52176.  52147.]
-----------------------------------------------------------------------------------------
Area Units
['Hectare']
-----------------------------------------------------------------------------------------
Production
[  2061.   2083.   1525. ... 120097. 148490.  15280.]
-----------------------------------------------------------------------------------------
Production Units
['Tonnes' 'Nuts' 'Bales']
-----------------------------------------------------------------------------------------
Yield
[1.64354067 1.65580286 1.20935765 ... 1.48019272 2.51744186 2.49412555]